-- ================================================
-- HELPHAND DATABASE SQL DUMP
-- Generated: 2025-11-22
-- Database: instance/helphand.db
-- ================================================

-- DATABASE SCHEMA
-- ================================================

CREATE TABLE feedback (
	id INTEGER NOT NULL, 
	task_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	volunteer_id INTEGER NOT NULL, 
	rating INTEGER NOT NULL, 
	text TEXT, 
	sentiment_score FLOAT, 
	sentiment_label VARCHAR(20), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(task_id) REFERENCES tasks (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(volunteer_id) REFERENCES volunteers (id)
);

CREATE TABLE tasks (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	description TEXT NOT NULL, 
	category VARCHAR(50), 
	pincode VARCHAR(10), 
	latitude FLOAT, 
	longitude FLOAT, 
	status VARCHAR(9), 
	assigned_volunteer_id INTEGER, 
	is_commercial BOOLEAN, 
	payment_amount FLOAT, 
	platform_fee FLOAT, 
	urgency VARCHAR(6), 
	created_at DATETIME, 
	completed_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(assigned_volunteer_id) REFERENCES volunteers (id)
);

CREATE TABLE users (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	email VARCHAR(120) NOT NULL, 
	password_hash VARCHAR(255) NOT NULL, 
	role VARCHAR(9) NOT NULL, 
	pincode VARCHAR(10), 
	latitude FLOAT, 
	longitude FLOAT, 
	verified BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);

CREATE TABLE volunteers (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	skills TEXT, 
	document_path VARCHAR(255), 
	verification_status VARCHAR(8), 
	rating FLOAT, 
	completed_tasks INTEGER, 
	subscription_type VARCHAR(5), 
	subscription_expires DATETIME, 
	premium_verified BOOLEAN, 
	created_at DATETIME, extracted_text TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);


-- DATABASE DATA
-- ================================================


-- TABLE: feedback
------------------------------------------------------------
-- No records


-- TABLE: tasks
------------------------------------------------------------
-- 2 records

INSERT INTO tasks (id, user_id, title, description, category, pincode, latitude, longitude, status, assigned_volunteer_id, is_commercial, payment_amount, platform_fee, urgency, created_at, completed_at) VALUES (1, 4, 'help with grocery', 'get onions and tamatoes', 'grocery', '560045', NULL, NULL, 'pending', NULL, 1, 500.0, 40.0, 'high', '2025-11-14 15:20:03.565517', NULL);
INSERT INTO tasks (id, user_id, title, description, category, pincode, latitude, longitude, status, assigned_volunteer_id, is_commercial, payment_amount, platform_fee, urgency, created_at, completed_at) VALUES (2, 2, 'sweeping and cleaning house', 'house is dirty need to clean', 'household', '123456', 28.6139, 77.209, 'assigned', 1, 1, 500.0, 40.0, 'high', '2025-11-22 09:23:42.688915', NULL);


-- TABLE: users
------------------------------------------------------------
-- 6 records

INSERT INTO users (id, name, email, password_hash, role, pincode, latitude, longitude, verified, created_at) VALUES (1, 'Admin User', 'admin@helphand.com', 'scrypt:32768:8:1$Nm2DMrh0sIFVvph7$ca4681311aead0efb186f7f4ae6ff2fa606880ebe98836c082c9e698752e7ebb59203ecb68b2c19b58ed0a2cd1f26e27f7aad525296485fd7fc8ad12d910a685', 'admin', '110001', NULL, NULL, 1, '2025-11-14 15:16:58.688760');
INSERT INTO users (id, name, email, password_hash, role, pincode, latitude, longitude, verified, created_at) VALUES (2, 'Demo User', 'user@helphand.com', 'scrypt:32768:8:1$sJSpTj3FZfvAfszu$220393937a5f3ad5cabdbe33e85275bccd1a3fd3c7779cdafbdbf4278f0748a3687040f5744c42acda0804e85b3eefeee17a14ab0f1c94d00d57c5b7bdb0c771', 'user', '110001', 28.6139, 77.209, 0, '2025-11-14 15:16:58.818131');
INSERT INTO users (id, name, email, password_hash, role, pincode, latitude, longitude, verified, created_at) VALUES (3, 'Demo Volunteer', 'volunteer@helphand.com', 'scrypt:32768:8:1$cE9odQLZcIsByptI$e216a069eb6f1349cf0b78431108d2da02ddf6db83ab6ef3e4888166069d9e3178f339f3305f54a85720aa079afbd44e56d3ba054bf3d0ca3aee751555a3b2b1', 'volunteer', '110001', 28.6239, 77.219, 1, '2025-11-14 15:16:58.933493');


-- TABLE: volunteers
------------------------------------------------------------
-- 2 records

INSERT INTO volunteers (id, user_id, skills, document_path, verification_status, rating, completed_tasks, subscription_type, subscription_expires, premium_verified, created_at, extracted_text) VALUES (1, 3, 'Home repairs, gardening, grocery shopping, elderly care, tutoring, pet care', NULL, 'approved', 4.8, 15, 'basic', NULL, 0, '2025-11-14 15:16:58.945301', NULL);
INSERT INTO volunteers (id, user_id, skills, document_path, verification_status, rating, completed_tasks, subscription_type, subscription_expires, premium_verified, created_at, extracted_text) VALUES (2, 5, 'can do all kinds of job', 'app/static/uploads\documents\Image.jpg', 'approved', 0.0, 0, 'basic', NULL, 0, '2025-11-14 15:23:47.686701', NULL);


-- ================================================
-- END OF SQL DUMP
-- ================================================
